#root {
  height : 100%;
  margin: 0;
  font-family: "Lato","Noto Sans JP","游ゴシック体",YuGothic,"游ゴシック","Yu Gothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.2;
  color: #333;
  font-weight: 500;
}


ul {
  list-style: none;
}
ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none !important;
}

